*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:#fff;
}

.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: red;
    transition: 0.4s;
}

.nav-link{
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.137);
}

.dropdown-menu{
    background-color: red;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.137);
}

.my-container{
    transition: 0.4s;
}

.active-nav{
    margin-left: 0;
}

.active-cont{
    margin-left: 250px;
}

#btn-menu{
    background-color: red;
    color: white;
}

#btn-menu:focus{
    box-shadow: 0 0 0 0.25rem red;
}